.custom_button_1 {
    margin: 3px;
    padding: 5px 15px;
    color: black;
    font-size: 14px;
    background: rgba(255,255,255,0.3);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}