{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}Магазинчик суши{% endblock title %}
    </title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'font_zen/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_django.css' %}">
    {% block head %}{% endblock head %}
</head>
<body class="d-flex flex-column h-100 custom_body_1 container" style="min-height: 100vh;">
    {% block navbar %}{% include 'components/navbar.html' %}{% endblock navbar %}
    <main class="flex-shrink-0" style="min-height: 80vh;">
        {% block main %}...{% endblock main %}
    </main>
    {% block footer %}{% include 'components/footer.html' %}{% endblock footer %}
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
</body>
</html>