{% extends "app_teacher/components/base.html" %}
{% load static %}
{% load extras %}

{% block head %}
    <link rel="icon" href="{% static 'img/logo512.png' %}" type="image/png">
{% endblock head %}

{% block title %}
    Домашняя страница
{% endblock title %}

{% block navbar %}
    <div class="p-1 m-1">
      {% include 'app_teacher/components/navbar.html' %}
    </div>
{% endblock navbar %}

{% block main %}
<main class="flex-shrink-0 bg-light">

    <div class="p-0 m-0">
      {% include 'app_teacher/components/receipt_list.html' %}
    </div>

</main>
{% endblock main %}


{% block footer %}
  {% include 'app_teacher/components/footer.html' %}
{% endblock footer %}
