{% extends "app_teacher/components/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block main %}
<main class="form-signin container text-center">

    <hr/>
    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        {{ 123form|crispy }}
        <input type="submit" value="Submit">
    </form>

    <hr/>

    <form action="{% url 'register' %}" method="post" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        {{ UserCreateForm|crispy }}
        <input type="submit" value="Submit">
    </form>
    <hr/>

    <form
        action="{% url 'register' %}"
        method="POST"
        enctype="multipart/form-data"
        target="_self"
        class="form-control form-control-lg m-1 p-1"
        style="width: 350px"
    >
      {% csrf_token %}

    <hr/>
    <img class="mb-4" src="{% static 'img/logo512.png' %}" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Зарегистрироваться</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="введите имя пользователя" name="username" required>
      <label for="floatingInput">имя пользователя</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword1" placeholder="Введите пароль" name="password" required>
      <label for="floatingPassword1">Введите пароль</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword2" placeholder="Повторите введёный пароль" name="password2" required>
      <label for="floatingPassword2">Повторите введёный пароль</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword3" placeholder="Имя" name="first_name">
      <label for="floatingPassword2">введите Ваше имя</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword4" placeholder="Фамилия" name="last_name">
      <label for="floatingPassword2">введите Вашу фамилию</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingPassword5" placeholder="введите Вашу почту" name="email">
      <label for="floatingPassword2">введите Вашу почту</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
  </form>
</main>
{% endblock main %}
