{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/my.css' %}">
    {% block head %}{% endblock head %}
<!--    <link rel="stylesheet" href="https://1234">-->
</head>
<body class="d-flex flex-column h-100">
    {% block navbar %}{% endblock navbar %}
    <div class="flex-shrink-0">
        <main class="flex-shrink-0 bg-light">
            <div class="container-fluid">
                <div class="container">
                    <div class="container-fluid">
                        <div class="text-center">
                            <div class="col-lg-6 mx-auto">
                                ТЕЛО СТРАНИЦЫ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {% block footer %}{% endblock footer %}
    <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
</body>
</html>



{% extends "app_teacher/base.html" %}
{% load static %}

{% block main %}
<main class="flex-shrink-0 bg-light">
            <div class="container-fluid">
                <div class="container">
                    <div class="container-fluid">
                        <div class="text-center">
                            <div class="col-lg-6 mx-auto">
                                ТЕЛО СТРАНИЦЫ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock main %}
