{% extends 'components/base.html' %}
{% load static %}
{% load extras %}

{% block title %}Добавить новый рецепт{% endblock title %}

{% block main %}
    <div class="container-fluid">
        <h1>Добавить новый рецепт</h1>
        <div>
            <form
                action="{% url 'receipt' %}"
                method="POST"
                enctype="multipart/form-data"
                target="_self"
                class="post-form form-control form-control-lg m-1 p-1">

                {% csrf_token %}

                <div class="m-1 p-1 border border-dark">
                    <label>введите название рецепта суши</label>
                    <input type="text" placeholder="введите сюда название" class="form-control w-75"
                           value="" required="" minlength="1" maxlength="250" name="title">
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>введите описание рецепта рецепта</label>
                    <textarea placeholder="введите сюда описание" class="form-control w-75" required="" minlength="1"
                              maxlength="250" name="description" rows="10"></textarea>
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>выберите ингредиенты</label>
                    <select required="" multiple="">
                        <option selected value="">выберите ингредиенты</option>
                        {% for ingredient in ingredients %}
                            <option value="{{ingredient.id}}">{{ingredient.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>выберите заставку</label>
                    <input type="file" class="form-control w-75" accept="image/png, image/jpeg"
                           value="" required="" minlength="1" maxlength="250" name="image">
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>выберите категорию</label>
                    <select required="">
                        <option selected value="">выберите категорию</option>
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.title}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>укажите время на приготовление</label>
                    <input type="number" class="form-control w-50" accept="image/png, image/jpeg"
                           value="25" required="" min="1" max="9999" name="image">
                </div>

                <div class="m-1 p-1 border border-dark">
                    <label>прикрепите инструкцию</label>
                    <input type="file" class="form-control w-75" accept="application/pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                           value="" required="" minlength="1" maxlength="250" name="image">
                </div>

                <button type="submit" class="save btn btn-primary btn-default">создать</button>
            </form>

<!--            <form action="/your-name/" method="post">-->
<!--                {% csrf_token %}-->
<!--                <label for="your_name">Your name: </label>-->
<!--                <input id="your_name" type="text" name="your_name" value="{{ current_name }}">-->
<!--                <input type="submit" value="OK">-->
<!--            </form>-->

        </div>
    </div>
{% endblock main %}