<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  Тут будет лежать форма создания TODO. - уникальная и красивая вёрстка
<!--    <div class="container">-->
<!--        <form action="{% url 'backend_native:django_idea_create' %}"-->
<!--                  method="POST"-->
<!--                  target="_self"-->
<!--                  enctype="multipart/form-data"-->
<!--                  name="idea_create"-->
<!--                  autocomplete="on"-->
<!--                  class="text-center"-->
<!--        >-->
<!--            {% csrf_token %}-->
<!--            <div>-->
<!--                <div>-->
<!--                    <label class="form-control-lg m-1">-->
<!--                        Название:-->
<!--                        <input type="text"-->
<!--                               id="name_char_field"-->
<!--                               name="name_char_field"-->
<!--                               required=""-->
<!--                               placeholder="Название"-->
<!--                               value=""-->
<!--                               minlength="1"-->
<!--                               maxlength="32"-->
<!--                               class="form-control form-control-lg"-->
<!--                        />-->
<!--                        <small class="text-muted">длина: не более 32 символов</small>-->
<!--                    </label>-->
<!--                    <label class="form-control-lg m-1">-->
<!--                        Категория:-->
<!--                        <select type="select"-->
<!--                                id="category_slug_field"-->
<!--                                name="category_slug_field"-->
<!--                                required-->
<!--                                class="form-control form-control-lg"-->
<!--                        >-->
<!--                            {% for cat in category %}-->
<!--                                <option value="{{ cat.0 }}">{{ cat.1 }}</option>-->
<!--                            {% endfor %}-->
<!--                        </select>-->
<!--                        <small class="text-muted">обязательно выбрать одну из категорий</small>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label class="form-control form-control-lg m-1">-->
<!--                        Краткое описание:-->
<!--                        <input type="text"-->
<!--                               id="short_description_char_field"-->
<!--                               name="short_description_char_field"-->
<!--                               required=""-->
<!--                               placeholder="Краткое описание"-->
<!--                               value=""-->
<!--                               minlength="1"-->
<!--                               maxlength="64"-->
<!--                               class="form-control form-control-lg"-->
<!--                        />-->
<!--                        <small class="text-muted">длина: не более 64 символов</small>-->
<!--                    </label>-->
<!--                    <label class="form-control form-control-lg m-1">-->
<!--                        Полное описание:-->
<!--                        <textarea type="text"-->
<!--                                  id="full_description_text_field"-->
<!--                                  name="full_description_text_field"-->
<!--                                  required=""-->
<!--                                  placeholder="Полное описание"-->
<!--                                  minlength="1"-->
<!--                                  maxlength="1024"-->
<!--                                  rows="3"-->
<!--                                  class="form-control form-control-lg"-->
<!--                        ></textarea>-->
<!--                        <small class="text-muted">длина: не более 1024 символов</small>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label class="form-control-lg m-1">-->
<!--                        Аватарка-заставка для идеи:-->
<!--                        <input type="file"-->
<!--                               id="avatar_image_field"-->
<!--                               name="avatar_image_field"-->
<!--    {#                           required=""#}-->
<!--                               accept=".jpg, .png"-->
<!--                               class="form-control form-control-lg"-->
<!--                        />-->
<!--                        <small class="text-muted">только для форматов изображений: .jpg / .png</small>-->
<!--                    </label>-->
<!--                    <label class="form-control-lg m-1">-->
<!--                        Файл-приложение:-->
<!--                        <input type="file"-->
<!--                               id="addiction_file_field"-->
<!--                               name="addiction_file_field"-->
<!--    {#                           required=""#}-->
<!--                               accept=".xlsx, .xls, .docx, .doc, .pdf"-->
<!--                               class="form-control form-control-lg"-->
<!--                        />-->
<!--                        <small class="text-muted">только для форматов файлов: .xlsx / .xls / .docx / .doc / .pdf</small>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--            <hr/>-->
<!--            <div class="container-fluid text-center">-->
<!--                <ul class="row row-cols-auto row-cols-md-auto row-cols-lg-auto nav justify-content-center">-->
<!--                    <li class="m-1">-->
<!--                        <button class="btn btn-lg btn-outline-primary" type="submit">Подтвердить</button>-->
<!--                    </li>-->
<!--                    <li class="m-1">-->
<!--                        <button class="btn btn-lg btn-outline-warning" type="reset">Сбросить</button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
</body>
</html>