
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="css/style.css">
  <title>Exam-1</title>
</head>
<body>
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-header">
      <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto pl-6">
            <li class="nav-item">
              <a class="nav-link tour-header" href="#">TOUR-GIUDE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Write to us</a>
            </li>
          </ul>
          <div class="imgheader">
            <img src="img/twitter-128.png" alt="">
            <img src="img/facebook-128.png" alt="">
            <img src="img/instagram-2-128.png" alt="">
            <img src="img/youtube-128.png" alt="">
            <img src="img/gmail-128.png" alt="">
          </div>
        </div>
      </div>     
    </nav>
  </div>
 
  <div class="menu-road">
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="find-block mb-3">Let's hit the road</h4>
          <p class="text-table">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint 
            perferendis accusantium suscipit aut dolorum perspiciatis laboriosam blanditiis 
            sed quis deleniti aperiam, magnam laudantium? Soluta quas praesentium magni laboriosam.
          </p>  
          <p class="text-table">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint 
            perferendis aquas praesentium magni laboriosam.
          </p>  
          <button type="button" class="btn btn-outline-secondary">Start</button>
        </div>
        <div class="col road-img">
          <img src="img/pic-1.jpg" alt="people">
        </div>
      </div>
    </div>
  </div>

<div class="menu-story">
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="img/pic-2.jpg" alt="people">
      </div>
      <div class="col">
        <h4 class="story-block">Story</h4>
        <p class="text-table py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint 
          perferendis accusantium suscipit aut dolorum perspiciatis laboriosam blanditiis 
          sed quis deleniti aperiam, magnam laudantium? Soluta quas praesentium magni laboriosam.
        </p>  
        <button type="button" class="btn btn-outline-secondary">More</button>
      </div>
    </div>
  </div>
</div>

<div class="menu-story">
  <div class="container">
    <div class="row">

      <div class="col">
        <h4 class="story-block">Story</h4>
        <p class="text-table py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatum sint 
          perferendis accusantium suscipit aut dolorum perspiciatis laboriosam blanditiis 
          sed quis deleniti aperiam, magnam laudantium? Soluta quas praesentium magni laboriosam.
        </p>  
        <button type="button" class="btn btn-outline-secondary">More</button>
      </div>

      <div class="col">
        <img src="img/pic-3.jpg" alt="people">
      </div>

    </div>
  </div>
</div>

<div class="menu-gallery">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4 class="find-block text-center mb-5 mt-4">Gallery</h4>
        <img src="img/pic-4.jpg"class="nature" alt="nature">
        <img src="img/pic-5.jpg" class="nature" alt="nature">
        <img src="img/pic-6.jpg" class="nature" alt="nature">
        <img src="img/pic-7.jpg" class="nature" alt="nature">
      </div>
    </div>
  </div>
</div>


<div class="posterite-block py-5">
  <div class="container">
    <h3 class="heading-text posterite-heading text-center py-3 mb-5">Features</h3>
    <div class="row no-gutters mt-5">
      <div class="block-1 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">One</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam magnam tempore, quia omnis similinon!</p>
      </div>    
    
      <div class="block-2 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">Two</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam </p>
      </div>    

      <div class="block-3 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">Three</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam magnam tempore, sentium non!</p>
      </div>

      <div class="block-4 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">Four</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam magnam tempor praesentium non!</p>
      </div>    
    
      <div class="block-5 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">Five</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam magnam tempore,amet praesentium non!</p>
      </div>    

      <div class="block-6 block px-3 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h6 class="text-decription">Six</h6>
        <p class="block-decription">Dolorem reprehenderit exercitationem aliquam magnam tempore, voluptates amet praesentium non!</p>
      </div>

    </div>

  </div>
</div> 

<div class="menu-form">
  <div class="container">
    <h4 class="write-block text-center py-3 mb-5">Write to us</h4>
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Name</label>
          <input type="text" class="form-control" id="validationCustom01" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Email</label>
          <input type="text" class="form-control" id="validationCustom02" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Phone</label>
          <input type="text" class="form-control" id="validationCustom02" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-row contactme">
        <div class="form-check form-check-inline">
          <h6 class="form-check m-4">Contact me via:</h6>
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Email</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Phone</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Telegram</label>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-8 mb-3">
          <label for="validationCustom04">Topic</label>
          <select class="custom-select" id="validationCustom04" required>
            <option selected disabled value="">Post my story</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <form class="was-validated">
        <div class="mb-3">
          <label for="validationTextarea">Message:</label>
          <textarea class="form-control" id="validationTextarea"></textarea>
        </div>
      <div class="form-row">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input  humancheck" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              I am a Human
            </label>
            <button type="button" class="btn btn-outline-secondary">SEND</button>
          </div>
        </div>
      </div>
    </form>
  </div>  
</div> 

<footer>
   <div class="main-footer py-3 text-center">
     <div class="container">
      <img src="img/twitter-128.png" class="footer-img" alt="" >
      <img src="img/facebook-128.png" class="footer-img" alt="">
      <img src="img/instagram-2-128.png" class="footer-img" alt="">
      <img src="img/youtube-128.png" class="footer-img" alt="">
      <img src="img/gmail-128.png" class="footer-img" alt="">
       <p class="menu-footer mt-4">© UNTITLED 2019</p>
     </div>  
  </div>
</footer>

   
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>