.custom_body{
    min-height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    /* background-image: url("../../public/static/img/global_background_image.jpg");
    background-attachment: fixed;
    background-size: cover; */
    /* font-family: Zen Kaku Gothic Antique, sans-serif !important; */
}

.custom_main{
    min-height: 70vh;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 0 !important;
}
@media (min-width: 576px) {
  .custom_main_1 {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .custom_main_1 {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .custom_main_1 {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .custom_main_1 {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .custom_main_1 {
    max-width: 1320px;
  }
}